In [1]:
import cPickle as pkl
import pandas as pd
import numpy as np
import os.path

In [2]:
dirname = '../../results_20180424'

In [3]:
descriptor = '_700_transcripts'

In [10]:
files = !ls {dirname}
files = [os.path.join(dirname, filename) for filename in files]
files

['../../results_20180424/test configuration with 2 genes in 700 transcripts, 100 ribosomes, deltat=0.05s_20180424_0848_100_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 10 ribosomes, deltat=0.05s_20180424_0847_10_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 1 ribosomes, deltat=0.05s_20180424_0846_1_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 200 ribosomes, deltat=0.05s_20180424_0849_200_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 20 ribosomes, deltat=0.05s_20180424_0847_20_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 2 ribosomes, deltat=0.05s_20180424_0846_2_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 30 ribosomes, deltat=0.05s_20180424_0847_30_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 3 ribosomes, deltat=0.05s_20180424_0846_3_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 50 ribosomes, deltat=0.05s_20180424_0847_50_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 5 ribosomes, deltat=0.05s_20180424_0847_5_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 80 ribosomes, deltat=0.05s_20180424_0848_80_ribosomes_0200s.p',
 '../../results_20180424/test configuration with 2 genes in 700 transcripts, 8 ribosomes, deltat=0.05s_20180424_0847_8_ribosomes_0200s.p']

Blacklisted species:

In [11]:
blacklist = ['ribos._bound', 'ribos._free', 'tRNA_free', 'tRNA_bound', 'ATP', 'GTP', 'AMP', 'GDP', 'protein', 
             'proteins', 'peptide_bonds']

Data frame at cell level:

In [12]:
dfc = pd.DataFrame(columns=['ribosomes', 'transcripts', 'collisions', 'nocollisions', 'peptide_bonds'])

In [13]:
rows = []
dft_columns = ['length', 'init_rate', 'ribosomes', 'tic_toc', 'geneID', 'transcripts', 'index']

for i, filename in enumerate(files):
    print filename
    results = pkl.load(open(filename))
    
    # append to cell level data frame
    print 'cell level...'
    rowvals = [results['n_ribosomes'], len(results['transcriptome']), results['collisions'], 
               results['nocollisions'], results['peptide_bonds']]
    row = dict(zip(list(dfc.columns), rowvals))
    #print row
    dfc = dfc.append(row, ignore_index=True)
    #print dfc.head()
    
    # append to transcript level data frame
    print 'transcript level...'
    
    for transcript in results['transcriptome']:
        av_time = np.mean([tictoc[1] - tictoc[0] for tictoc in transcript.tic_toc])
        rowvals = [transcript.geneID, transcript.index, transcript.init_rate, transcript.length, 
                   results['n_ribosomes'], av_time, len(results['transcriptome'])]
        row = dict(zip(list(dft_columns), rowvals))
        #print row
        rows.append(row)
            
    # append to gene level data frame
    print 'gene level...'
    header = str(results['n_ribosomes']) + '_' + str(len(results['transcriptome']))
    tc = results['timecourses']
    efficiency_items = [(gene, (tc[gene][-1] - tc[gene][-2001]) / 100.) for gene in tc if gene not in blacklist]
    tmp = pd.DataFrame(efficiency_items, columns = ['gene', header]).set_index('gene')
    
    if i == 0:  # first time
        dfg = tmp
    else:
        dfg = pd.merge(dfg, tmp, left_index=True, right_index=True, how='outer')

dfc.sort_values('ribosomes', inplace=True)

dft = pd.DataFrame(rows)
dft.columns = ['ribosomes', 'transcripts', 'index', 'geneID', 'init_rate', 'length', 'tic_toc']

../../results_20180424/test configuration with 2 genes in 700 transcripts, 100 ribosomes, deltat=0.05s_20180424_0848_100_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 10 ribosomes, deltat=0.05s_20180424_0847_10_ribosomes_0200s.p

/home/martin/.local/lib/python2.7/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/martin/.local/lib/python2.7/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 1 ribosomes, deltat=0.05s_20180424_0846_1_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 200 ribosomes, deltat=0.05s_20180424_0849_200_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 20 ribosomes, deltat=0.05s_20180424_0847_20_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 2 ribosomes, deltat=0.05s_20180424_0846_2_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 30 ribosomes, deltat=0.05s_20180424_0847_30_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 3 ribosomes, deltat=0.05s_20180424_0846_3_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 50 ribosomes, deltat=0.05s_20180424_0847_50_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 5 ribosomes, deltat=0.05s_20180424_0847_5_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 80 ribosomes, deltat=0.05s_20180424_0848_80_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180424/test configuration with 2 genes in 700 transcripts, 8 ribosomes, deltat=0.05s_20180424_0847_8_ribosomes_0200s.p
cell level...
transcript level...
gene level...

In [14]:
dfc

    ribosomes  transcripts  collisions  nocollisions  peptide_bonds
2         1.0        700.0         0.0         104.0         1138.0
5         2.0        700.0         1.0         197.0         2197.0
7         3.0        700.0         2.0         300.0         3328.0
9         5.0        700.0         5.0         511.0         5630.0
11        8.0        700.0        10.0         838.0         9316.0
1        10.0        700.0        26.0        1020.0        11420.0
4        20.0        700.0        99.0        2057.0        22843.0
6        30.0        700.0       227.0        3101.0        34455.0
8        50.0        700.0       688.0        5113.0        56883.0
10       80.0        700.0      1793.0        8205.0        91117.0
0       100.0        700.0      3064.0       10277.0       114158.0
3       200.0        700.0     16430.0       20028.0       224842.0

In [16]:
dft = dft.dropna(subset=['tic_toc'])
dft

      ribosomes  transcripts  index  geneID  init_rate  length    tic_toc
0           100          700      0       1      0.100      36   1.650000
1           100          700      1       1      0.100      36   1.981034
2           100          700      2       1      0.100      36   1.813462
3           100          700      3       1      0.100      36   2.080000
4           100          700      4       1      0.100      36   1.829167
5           100          700      5       1      0.100      36   1.969565
6           100          700      6       1      0.100      36   1.980435
7           100          700      7       1      0.100      36   1.610417
8           100          700      8       1      0.100      36   1.840476
9           100          700      9       1      0.100      36   1.818182
10          100          700     10       1      0.100      36   1.748333
11          100          700     11       1      0.100      36   1.997222
12          100          700     12       1      0.100      36   1.609259
13          100          700     13       1      0.100      36   1.856000
14          100          700     14       1      0.100      36   1.975000
15          100          700     15       1      0.100      36   1.844000
16          100          700     16       1      0.100      36   1.821154
17          100          700     17       1      0.100      36   1.590909
18          100          700     18       1      0.100      36   1.894231
19          100          700     19       1      0.100      36   2.020000
20          100          700     20       1      0.100      36   1.925000
21          100          700     21       1      0.100      36   2.075000
22          100          700     22       1      0.100      36   2.111364
23          100          700     23       1      0.100      36   2.017500
24          100          700     24       1      0.100      36   1.861667
25          100          700     25       1      0.100      36   2.015909
26          100          700     26       1      0.100      36   1.968519
27          100          700     27       1      0.100      36   1.877083
28          100          700     28       1      0.100      36   2.050000
29          100          700     29       1      0.100      36   1.703704
...         ...          ...    ...     ...        ...     ...        ...
8074          8          700    374       1      0.100      36   1.625000
8075          8          700    375       1      0.100      36   1.283333
8076          8          700    376       1      0.100      36   2.050000
8077          8          700    377       1      0.100      36   2.400000
8079          8          700    379       1      0.100      36   1.550000
8081          8          700    381       1      0.100      36   2.350000
8082          8          700    382       1      0.100      36   1.200000
8083          8          700    383       1      0.100      36   2.000000
8084          8          700    384       1      0.100      36   1.433333
8085          8          700    385       1      0.100      36   1.275000
8086          8          700    386       1      0.100      36   2.325000
8087          8          700    387       1      0.100      36   1.100000
8088          8          700    388       1      0.100      36   2.300000
8089          8          700    389       1      0.100      36   1.850000
8090          8          700    390       1      0.100      36   1.700000
8092          8          700    392       1      0.100      36   3.600000
8093          8          700    393       1      0.100      36   2.250000
8094          8          700    394       1      0.100      36   1.925000
8095          8          700    395       1      0.100      36   1.916667
8096          8          700    396       1      0.100      36   1.375000
8097          8          700    397       1      0.100      36   1.350000
8098          8          700    398       1      0.100      36   1.433333
8099          8          700    399       1      0.100      36   2.162500
8107          8          700    407       2      0.001      96   5.100000
8139          8          700    439       2      0.001      96   7.750000
8147          8          700    447       2      0.001      96   8.650000
8182          8          700    482       2      0.001      96  10.800000
8245          8          700    545       2      0.001      96   7.100000
8359          8          700    659       2      0.001      96   6.450000
8375          8          700    675       2      0.001      96   5.500000

[4261 rows x 7 columns]

In [17]:
dfg

,100_700,10_700,1_700,200_700,20_700,2_700,30_700,3_700,50_700,5_700,80_700,8_700
gene,,,,,,,,,,,,
1,50.81,4.97,0.51,98.92,10.14,0.97,15.17,1.42,25.21,2.50,40.48,4.19
2,0.41,0.09,NaN,1.33,0.07,0.01,0.17,0.02,0.22,0.01,0.29,0.02
tRNA_free_01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_14,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_15,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_21,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_28,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_30,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_31,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_32,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_34,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_36,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_37,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_39,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_40,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_41,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_42,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_43,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [18]:
dfc.to_pickle(dirname + '/dfc' + descriptor + '.p')

In [19]:
dft.to_pickle(dirname + '/dft' + descriptor + '.p')

In [20]:
dfg.to_pickle(dirname + '/dfg' + descriptor + '.p')

Here we start the analysis (old notebook 17):

In [21]:
dfc['collisions_percentage'] = dfc['collisions'] / (dfc['collisions'] + dfc['nocollisions'])

In [22]:
dfc

,ribosomes,transcripts,collisions,nocollisions,peptide_bonds,collisions_percentage
2,1.0,700.0,0.0,104.0,1138.0,0.000000
5,2.0,700.0,1.0,197.0,2197.0,0.005051
7,3.0,700.0,2.0,300.0,3328.0,0.006623
9,5.0,700.0,5.0,511.0,5630.0,0.009690
11,8.0,700.0,10.0,838.0,9316.0,0.011792
1,10.0,700.0,26.0,1020.0,11420.0,0.024857
4,20.0,700.0,99.0,2057.0,22843.0,0.045918
6,30.0,700.0,227.0,3101.0,34455.0,0.068209
8,50.0,700.0,688.0,5113.0,56883.0,0.118600
10,80.0,700.0,1793.0,8205.0,91117.0,0.179336
0,100.0,700.0,3064.0,10277.0,114158.0,0.229668
3,200.0,700.0,16430.0,20028.0,224842.0,0.450656

In [23]:
ax = dfc.plot(x='ribosomes', y='collisions_percentage', figsize=(10, 7), fontsize=16)
ax.legend(["5 transcripts"], prop={'size': 16})
#plt.show()

In [24]:
dft_grouped = dft.groupby(['geneID', 'init_rate', 'length', 'ribosomes', 'transcripts'], as_index=False).mean()
dft_grouped

    geneID  init_rate  length  ribosomes  transcripts       index   tic_toc
0        1      0.100      36          1          700  185.057471  1.889080
1        1      0.100      36          2          700  209.927152  1.933499
2        1      0.100      36          3          700  201.981818  1.948902
3        1      0.100      36          5          700  196.517606  1.907113
4        1      0.100      36          8          700  198.950292  1.854956
5        1      0.100      36         10          700  199.059783  1.886413
6        1      0.100      36         20          700  199.615578  1.897341
7        1      0.100      36         30          700  199.500000  1.864579
8        1      0.100      36         50          700  199.500000  1.889542
9        1      0.100      36         80          700  199.500000  1.887779
10       1      0.100      36        100          700  199.500000  1.881558
11       1      0.100      36        200          700  199.500000  1.887839
12       2      0.001      96          2          700  530.000000  8.400000
13       2      0.001      96          3          700  595.500000  8.325000
14       2      0.001      96          5          700  509.000000  7.300000
15       2      0.001      96          8          700  522.000000  7.335714
16       2      0.001      96         10          700  550.000000  7.045833
17       2      0.001      96         20          700  562.866667  7.113333
18       2      0.001      96         30          700  536.750000  7.502083
19       2      0.001      96         50          700  565.926829  7.236585
20       2      0.001      96         80          700  573.135593  7.367797
21       2      0.001      96        100          700  557.473684  7.183553
22       2      0.001      96        200          700  542.901163  7.207718