In [1]:
import cPickle as pkl
import pandas as pd
import numpy as np
import os.path

In [2]:
dirname = '../../results_20180430_2/'

In [3]:
files = !ls {dirname}
files = [os.path.join(dirname, filename) for filename in files]
files

['../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 100 ribosomes, deltat=0.1s_20180430_1510_100_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 10 ribosomes, deltat=0.1s_20180430_1508_10_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 1 ribosomes, deltat=0.1s_20180430_1506_1_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 200 ribosomes, deltat=0.1s_20180430_1510_200_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 20 ribosomes, deltat=0.1s_20180430_1508_20_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 2 ribosomes, deltat=0.1s_20180430_1507_2_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 30 ribosomes, deltat=0.1s_20180430_1508_30_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 3 ribosomes, deltat=0.1s_20180430_1507_3_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 500 ribosomes, deltat=0.1s_20180430_1512_500_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 50 ribosomes, deltat=0.1s_20180430_1509_50_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 5 ribosomes, deltat=0.1s_20180430_1507_5_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 800 ribosomes, deltat=0.1s_20180430_1513_800_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 80 ribosomes, deltat=0.1s_20180430_1509_80_ribosomes_0200s.p',
 '../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 8 ribosomes, deltat=0.1s_20180430_1507_8_ribosomes_0200s.p']

In [4]:
descriptor = files[0].split('/')[-1][:-2]
descriptor

'test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 100 ribosomes, deltat=0.1s_20180430_1510_100_ribosomes_0200s'

Blacklisted species:

In [5]:
blacklist = ['ribos._bound', 'ribos._free', 'tRNA_free', 'tRNA_bound', 'ATP', 'GTP', 'AMP', 'GDP', 'protein', 
             'proteins', 'peptide_bonds']

Parameters for efficiency:

In [6]:
sim_time = 200.
timepoints = sim_time / 0.1
print timepoints

2000.0

In [7]:
post_burn_in = 100.  # seconds
share_of_total = post_burn_in / sim_time
print share_of_total

0.5

In [8]:
points_for_efficiency = int(share_of_total * timepoints + 1)
print points_for_efficiency

1001

Data frame at cell level:

In [9]:
dfc = pd.DataFrame(columns=['ribosomes', 'transcripts', 'collisions', 'nocollisions', 'peptide_bonds'])

In [10]:
rows = []
dft_columns = ['length', 'init_rate', 'ribosomes', 'tic_toc', 'geneID', 'transcripts', 'index']

for i, filename in enumerate(files):
    print filename
    results = pkl.load(open(filename))
    
    # append to cell level data frame
    print 'cell level...'
    rowvals = [results['n_ribosomes'], len(results['transcriptome']), results['collisions'], 
               results['nocollisions'], results['peptide_bonds']]
    row = dict(zip(list(dfc.columns), rowvals))
    #print row
    dfc = dfc.append(row, ignore_index=True)
    #print dfc.head()
    
    # append to transcript level data frame
    print 'transcript level...'
    
    for transcript in results['transcriptome']:
        av_time = np.mean([tictoc[1] - tictoc[0] for tictoc in transcript.tic_toc])
        rowvals = [transcript.geneID, transcript.index, transcript.init_rate, transcript.length, 
                   results['n_ribosomes'], av_time, len(results['transcriptome'])]
        row = dict(zip(list(dft_columns), rowvals))
        #print row
        rows.append(row)
            
    # append to gene level data frame
    print 'gene level...'
    header = str(results['n_ribosomes']) + '_' + str(len(results['transcriptome']))
    tc = results['timecourses']
    efficiency_items = [(gene, (tc[gene][-1] - tc[gene][-points_for_efficiency]) / post_burn_in) for gene in tc 
                        if gene not in blacklist]
    tmp = pd.DataFrame(efficiency_items, columns = ['gene', header]).set_index('gene')
    
    if i == 0:  # first time
        dfg = tmp
    else:
        dfg = pd.merge(dfg, tmp, left_index=True, right_index=True, how='outer')

dfc.sort_values('ribosomes', inplace=True)

dft = pd.DataFrame(rows)
dft.columns = ['ribosomes', 'transcripts', 'index', 'geneID', 'init_rate', 'length', 'tic_toc']

../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 100 ribosomes, deltat=0.1s_20180430_1510_100_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 10 ribosomes, deltat=0.1s_20180430_1508_10_ribosomes_0200s.p

/home/martin/.local/lib/python2.7/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/martin/.local/lib/python2.7/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 1 ribosomes, deltat=0.1s_20180430_1506_1_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 200 ribosomes, deltat=0.1s_20180430_1510_200_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 20 ribosomes, deltat=0.1s_20180430_1508_20_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 2 ribosomes, deltat=0.1s_20180430_1507_2_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 30 ribosomes, deltat=0.1s_20180430_1508_30_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 3 ribosomes, deltat=0.1s_20180430_1507_3_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 500 ribosomes, deltat=0.1s_20180430_1512_500_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 50 ribosomes, deltat=0.1s_20180430_1509_50_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 5 ribosomes, deltat=0.1s_20180430_1507_5_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 800 ribosomes, deltat=0.1s_20180430_1513_800_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 80 ribosomes, deltat=0.1s_20180430_1509_80_ribosomes_0200s.p
cell level...
transcript level...
gene level...
../../results_20180430_2/test configuration with 2 genes, transcripts 2000, 2000, init rates 0.1, 0.001, 8 ribosomes, deltat=0.1s_20180430_1507_8_ribosomes_0200s.p
cell level...
transcript level...
gene level...

In [11]:
dfc

    ribosomes  transcripts  collisions  nocollisions  peptide_bonds
2         1.0       6000.0         0.0         104.0         1090.0
5         2.0       6000.0         0.0         205.0         2155.0
7         3.0       6000.0         0.0         310.0         3134.0
10        5.0       6000.0         0.0         501.0         5270.0
13        8.0       6000.0         1.0         796.0         8425.0
1        10.0       6000.0         3.0         990.0        10469.0
4        20.0       6000.0        21.0        1997.0        21050.0
6        30.0       6000.0        45.0        2935.0        31335.0
9        50.0       6000.0       114.0        4917.0        52499.0
12       80.0       6000.0       282.0        7956.0        84821.0
0       100.0       6000.0       470.0        9783.0       104784.0
3       200.0       6000.0      1798.0       19453.0       209909.0
8       500.0       6000.0     10684.0       47501.0       519402.0
11      800.0       6000.0     26798.0       73615.0       823004.0

In [12]:
dft = dft.dropna(subset=['tic_toc'])
dft

       ribosomes  transcripts  index  geneID  init_rate  length    tic_toc
0            100         6000      0       0       0.10      30   1.388889
1            100         6000      1       0       0.10      30   1.300000
2            100         6000      2       0       0.10      30   1.480000
3            100         6000      3       0       0.10      30   1.575000
4            100         6000      4       0       0.10      30   1.800000
5            100         6000      5       0       0.10      30   1.425000
6            100         6000      6       0       0.10      30   1.450000
7            100         6000      7       0       0.10      30   1.528571
8            100         6000      8       0       0.10      30   0.933333
9            100         6000      9       0       0.10      30   1.833333
10           100         6000     10       0       0.10      30   1.200000
11           100         6000     11       0       0.10      30   2.433333
12           100         6000     12       0       0.10      30   1.400000
13           100         6000     13       0       0.10      30   1.700000
14           100         6000     14       0       0.10      30   1.666667
15           100         6000     15       0       0.10      30   1.300000
16           100         6000     16       0       0.10      30   1.700000
17           100         6000     17       0       0.10      30   1.200000
18           100         6000     18       0       0.10      30   1.440000
19           100         6000     19       0       0.10      30   1.371429
20           100         6000     20       0       0.10      30   1.842857
21           100         6000     21       0       0.10      30   1.400000
22           100         6000     22       0       0.10      30   2.166667
23           100         6000     23       0       0.10      30   1.070000
24           100         6000     24       0       0.10      30   1.620000
25           100         6000     25       0       0.10      30   1.733333
26           100         6000     26       0       0.10      30   1.577778
27           100         6000     27       0       0.10      30   1.650000
28           100         6000     28       0       0.10      30   1.300000
29           100         6000     29       0       0.10      30   1.425000
...          ...          ...    ...     ...        ...     ...        ...
83058          8         6000   5058       2       0.01      90   8.500000
83157          8         6000   5157       2       0.01      90   9.600000
83159          8         6000   5159       2       0.01      90  11.100000
83177          8         6000   5177       2       0.01      90   5.400000
83180          8         6000   5180       2       0.01      90   8.300000
83185          8         6000   5185       2       0.01      90   6.300000
83203          8         6000   5203       2       0.01      90   5.900000
83234          8         6000   5234       2       0.01      90   6.600000
83254          8         6000   5254       2       0.01      90   8.200000
83287          8         6000   5287       2       0.01      90   7.700000
83292          8         6000   5292       2       0.01      90   9.300000
83298          8         6000   5298       2       0.01      90   7.600000
83336          8         6000   5336       2       0.01      90   7.700000
83376          8         6000   5376       2       0.01      90   6.200000
83388          8         6000   5388       2       0.01      90   7.200000
83391          8         6000   5391       2       0.01      90   6.300000
83415          8         6000   5415       2       0.01      90   6.600000
83484          8         6000   5484       2       0.01      90   5.500000
83493          8         6000   5493       2       0.01      90   5.200000
83546          8         6000   5546       2       0.01      90   5.500000
83575          8         6000   5575       2       0.01      90   6.300000
83610          8         6000   5610       2       0.01      90   5.200000
83664          8         6000   5664       2       0.01      90   6.500000
83759          8         6000   5759       2       0.01      90   9.500000
83770          8         6000   5770       2       0.01      90   9.800000
83772          8         6000   5772       2       0.01      90   9.900000
83857          8         6000   5857       2       0.01      90   7.200000
83921          8         6000   5921       2       0.01      90   5.300000
83967          8         6000   5967       2       0.01      90   8.400000
83992          8         6000   5992       2       0.01      90   7.800000

[25211 rows x 7 columns]

In [13]:
dfg

,100_6000,10_6000,1_6000,200_6000,20_6000,2_6000,30_6000,3_6000,500_6000,50_6000,5_6000,800_6000,80_6000,8_6000
gene,,,,,,,,,,,,,,
0,42.56,4.25,0.40,83.66,8.67,0.93,11.99,1.33,206.43,21.36,2.22,317.74,33.64,3.57
1,0.48,0.04,0.01,0.85,0.07,0.00,0.13,NaN,2.41,0.23,0.00,4.15,0.32,0.01
2,4.39,0.41,0.05,9.32,0.87,0.08,1.40,0.11,23.44,2.19,0.21,39.87,3.71,0.33
tRNA_free_01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_08,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_14,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_15,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_18,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_21,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_28,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_30,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_31,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_32,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_34,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_36,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_37,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_39,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_40,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_41,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_42,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
tRNA_free_43,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.01,0.00,0.00

In [14]:
dfc.to_pickle(dirname + '/dfc' + descriptor + '.p')

In [15]:
dft.to_pickle(dirname + '/dft' + descriptor + '.p')

In [16]:
dfg.to_pickle(dirname + '/dfg' + descriptor + '.p')

Here we start the analysis (old notebook 17):

In [17]:
dfc['collisions_percentage'] = dfc['collisions'] / (dfc['collisions'] + dfc['nocollisions'])

In [18]:
dfc

,ribosomes,transcripts,collisions,nocollisions,peptide_bonds,collisions_percentage
2,1.0,6000.0,0.0,104.0,1090.0,0.000000
5,2.0,6000.0,0.0,205.0,2155.0,0.000000
7,3.0,6000.0,0.0,310.0,3134.0,0.000000
10,5.0,6000.0,0.0,501.0,5270.0,0.000000
13,8.0,6000.0,1.0,796.0,8425.0,0.001255
1,10.0,6000.0,3.0,990.0,10469.0,0.003021
4,20.0,6000.0,21.0,1997.0,21050.0,0.010406
6,30.0,6000.0,45.0,2935.0,31335.0,0.015101
9,50.0,6000.0,114.0,4917.0,52499.0,0.022660
12,80.0,6000.0,282.0,7956.0,84821.0,0.034232
0,100.0,6000.0,470.0,9783.0,104784.0,0.045840
3,200.0,6000.0,1798.0,19453.0,209909.0,0.084608
8,500.0,6000.0,10684.0,47501.0,519402.0,0.183621
11,800.0,6000.0,26798.0,73615.0,823004.0,0.266878

In [19]:
ax = dfc.plot(x='ribosomes', y='collisions_percentage', figsize=(10, 7), fontsize=16)
ax.legend(["5 transcripts"], prop={'size': 16})
#plt.show()

In [20]:
dft_grouped = dft.groupby(['geneID', 'init_rate', 'length', 'ribosomes', 'transcripts'], as_index=False).mean()
dft_grouped

    geneID  init_rate  length  ribosomes  transcripts        index   tic_toc
0        0      0.100      30          1         6000   962.263736  1.525275
1        0      0.100      30          2         6000   956.242938  1.527966
2        0      0.100      30          3         6000  1000.780769  1.574615
3        0      0.100      30          5         6000   973.763547  1.581691
4        0      0.100      30          8         6000  1006.528239  1.535714
5        0      0.100      30         10         6000  1028.229195  1.574113
6        0      0.100      30         20         6000   993.030988  1.557408
7        0      0.100      30         30         6000   994.411318  1.575211
8        0      0.100      30         50         6000   991.092376  1.556521
9        0      0.100      30         80         6000   998.614674  1.543556
10       0      0.100      30        100         6000   997.718560  1.559673
11       0      0.100      30        200         6000   999.500000  1.551592
12       0      0.100      30        500         6000   999.500000  1.561495
13       0      0.100      30        800         6000   999.500000  1.557919
14       1      0.001      60          1         6000  3376.500000  4.800000
15       1      0.001      60          2         6000  3402.000000  2.700000
16       1      0.001      60          5         6000  2726.000000  2.700000
17       1      0.001      60          8         6000  2800.500000  4.550000
18       1      0.001      60         10         6000  2500.333333  4.183333
19       1      0.001      60         20         6000  2770.153846  4.138462
20       1      0.001      60         30         6000  2956.714286  4.367857
21       1      0.001      60         50         6000  2987.380000  4.268000
22       1      0.001      60         80         6000  2921.805970  4.264179
23       1      0.001      60        100         6000  3095.475000  4.251250
24       1      0.001      60        200         6000  3009.853503  4.024841
25       1      0.001      60        500         6000  3039.474299  4.235008
26       1      0.001      60        800         6000  2987.643895  4.231977
27       2      0.010      90          1         6000  5097.000000  6.350000
28       2      0.010      90          2         6000  4651.400000  7.000000
29       2      0.010      90          3         6000  4939.941176  8.082353
30       2      0.010      90          5         6000  5075.210526  7.128947
31       2      0.010      90          8         6000  4957.396825  7.422222
32       2      0.010      90         10         6000  4847.095890  7.108219
33       2      0.010      90         20         6000  4988.650350  7.221329
34       2      0.010      90         30         6000  4997.442922  7.145434
35       2      0.010      90         50         6000  4937.262712  7.162241
36       2      0.010      90         80         6000  4976.081031  7.036878
37       2      0.010      90        100         6000  4979.107623  7.096151
38       2      0.010      90        200         6000  4994.645439  7.123494
39       2      0.010      90        500         6000  4995.305056  7.121910
40       2      0.010      90        800         6000  4998.088146  7.119622